section {
  margin-top: $base-spacing;
  margin-left: $base-spacing;
  margin-right: $base-spacing;

  @include media($medium-screen-up) {
    margin-left: auto;
    margin-right: auto;
    max-width: 37.5em;
  }
}

.type-system-sans .type {
  font-size: 0.9em;
}

nav ul {
  margin-bottom: $base-spacing;

  li {
    display: inline-block;
    margin-right: $small-spacing;

    @include media($medium-screen-up) {
      margin-right: $base-spacing;
    }
  }
}

main {
  margin-bottom: $base-spacing;
}

.articles {
  p {
    display: none;
  }

  @include media($large-screen-up) {
    @include clearfix;

    h2 {
      @include span-columns(4 of 6);
    }
    p {
      @include span-columns(2 of 6);

      text-align: right;
    }
  }
}

.type-system-sans h3.share  {
  margin-bottom: $base-spacing;

  img,
  span  {
    vertical-align: middle;
  }

  span  {
    margin-left: 0.2em;
  }
}

.highlight {
  border-radius: $base-border-radius * 1.5;
  border: 1px solid #E0E0E0;
  font-size: 0.9em;
  font-style: normal;
  padding: 0.1em 0.4em;
}
