= link_to "https://github.com/jeffcole" do
  %i.fa.fa-2x.fa-github{title: "GitHub"}

= link_to "https://www.linkedin.com/in/jeffreydcole" do
  %i.fa.fa-2x.fa-linkedin-square{title: "LinkedIn"}

= link_to "mailto:jeffreydonaldcole@gmail.com" do
  %i.fa.fa-2x.fa-envelope{title: "Email"}
