%nav
  %ul
    %li
      %h3= link_to "Blog", "/"
    %li
      %h3= link_to "GitHub", "https://github.com/jeffcole"
    %li
      %h3= link_to "LinkedIn", "https://www.linkedin.com/in/jeffreydcole"
    %li
      %h3= link_to "Email", "mailto:jeffreydonaldcole@gmail.com"
