%nav
  %ul
    %li
      %h3= link_to "Blog", "/"
    %li
      %h3= link_to "GitHub", "https://github.com/jeffcole"
    %li
      %h3= link_to "Twitter", "https://twitter.com/obscurehobo"
    %li
      %h3= link_to "Email", "mailto:jeffreydonaldcole@gmail.com"
