%header.navigation{role: "banner"}
  .navigation-wrapper
    %a.title{href: "/"}
      %h1 Jeff Cole
    %a#js-mobile-menu.navigation-menu-button{href: "javascript:void(0)"}
      %i.fa.fa-bars
    %nav{role: "navigation"}
      %ul#js-navigation-menu.navigation-menu.show
        %li.nav-link= link_to "Posts", "/"
        %li.nav-link= link_to "GitHub", "https://github.com/jeffcole"
        %li.nav-link= link_to "LinkedIn", "https://www.linkedin.com/in/jeffreydcole"
        %li.nav-link= link_to "Email", "mailto:jeffreydonaldcole@gmail.com"
