---
title: "Home"
---

%section.intro
  %h1 Jeff Cole

  %h3 I build things with computers for people.

  %p Here are some other places you can find me.

  %p= partial :contact

  %hr

%section.posts
  %h2 Posts

  %ul
    - index_items.each do |article|
      %li= title_and_date_link article

  %hr

%section.talks
  %h2 Talks

  %ul
    - talks.each do |talk|
      = partial :talk, locals: {talk: talk}

  %hr
