---
title: "Home"
---

%section.intro
  %h1 Jeff Cole

  %h3 I build things with computers for people.

  %p Here are some other places you can find me.

  %p
    %i.fa.fa-github
    %i.fa.fa-linkedin-square
    %i.fa.fa-envelope

  %hr

%h2 Posts

%ul
  - index_items.each do |article|
    %li= title_and_date_link article

%h2 Talks

%ul
  - talks.each do |talk|
    = partial :talk, locals: {talk: talk}
